<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blog_management_post_listing_data_source" xsi:type="string">Blog\Management\Model\ResourceModel\DataExample\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Blog\Management\Model\ResourceModel\DataExample\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">requested_author</argument>
            <argument name="resourceModel" xsi:type="string">Blog\Management\Model\ResourceModel\DataExample</argument>
        </arguments>
    </virtualType>
</config>